
<mdb-carousel class="carousel slide" [isControls]="false" [animation]="'slide'" [interval]="'3000'" #carousel>
    <div *ngFor="let notice of notices">
        <div *ngFor="let image of notice.images; let i = index">
            <mdb-carousel-item>
                <div class="view">
                    <img class="d-block" [src]="image.url" alt="slide">
                    <div class="mask flex-center"></div>
                    <video [autoplay] [ngStyle]="{ none: none }"></video>
                </div>
            </mdb-carousel-item>
        </div>
        <div *ngFor="let video of notice.videos">
            <mdb-carousel-item>
                <div class="view">
                    <video class="video-fluid" (play)="videoStarted()" (ended)="videoEnded()">
                        <source [src]="video.url" type="video/mp4">
                    </video>
                    <div class="mask waves-light" mdbWavesEffect></div>
                </div>
            </mdb-carousel-item>
        </div>
    </div>
</mdb-carousel>
